.home{
  align-items: center;
  display: flex;
  box-shadow: inset 4px 0px 4px 4px rgba(0,0,0,0.3),inset -4px 0px 4px 4px rgba(0,0,0,0.3);
  &-wrapper{
    margin:0 auto;
    padding:10px;
    box-shadow: inset 4px 0px 4px 4px rgba(0,0,0,0.3),inset -4px 0px 4px 4px rgba(0,0,0,0.3);
    @include mq(pc){
      padding:100px;
      display: flex;
    }
  }
  &-main{
    display:flex;
    align-items: center;
  }
  &-text{
    font-size: 7em !important;
  }
  &-icon{
    font-size: 5em !important;
  }
}